name: ILEO Scraper

on:
  schedule:
    - cron: '0 */4 * * *'  # toutes les 4 heures
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        env:
          ILEO_USER: ${{ secrets.ILEO_USER }}
          ILEO_PASS: ${{ secrets.ILEO_PASS }}
        run: python run.py
